@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@500;600;700&display=swap');
@import './assets/ceiusmGlobal.scss';
@import './assets/global.scss';
@import './assets/aniamtion.scss';

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: $tran-02;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary-color;
  }
}
